<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <frontend>
                <show_add_to_compare_in_list>1</show_add_to_compare_in_list>
                <show_add_to_compare_on_product_page>1</show_add_to_compare_on_product_page>
            </frontend>
        </catalog>
    </default>
</config>

