
# Defaults
variables:
  SRC_DIR: './src'

include:
  - project: 'hyva-themes/base-ci'
    file: 'lint/php.yml'
    ref: main
  - project: 'hyva-themes/base-ci'
    file: 'static/phpcs.yml'
    ref: main
  - project: 'hyva-themes/base-ci'
    file: 'test/integration.yml'
    ref: main
  - project: 'hyva-themes/base-ci'
    file: 'test/theme-playwright.yml'
    ref: main

test:integration:
  extends: .test:integration
  parallel:
    matrix:
      - MAGEVERSION: ['2.4.8-p3']

test:playwright:
  extends: .test:theme_playwright
  parallel:
    matrix:
      - MAGEVERSION: ['2.4.8-p3']

test:integration:manual:
  extends: .test:integration
  when: manual

test:playwright:manual:
  extends: .test:theme_playwright
  when: manual
