
# Defaults
variables:
  SRC_DIR: './src'

include:
 - project: 'hyva-internal/base-ci'
   file: 'lint/php.yml'
   ref: main
 - project: 'hyva-internal/base-ci'
   file: 'static/phpcs.yml'
   ref: main
 - project: 'hyva-internal/base-ci'
   file: 'test/integration.yml'
   ref: main
 - project: 'hyva-internal/base-ci'
   file: 'test/cypress.yml'
   ref: main

test:integration:
  variables:
    MAGEVERSION: '2.4.4'
  extends: .test:integration

test:cypress:
  extends: .test:cypress
  parallel:
    matrix:
      - MAGEVERSION: ['2.4.4', '2.4.0']
